services:
  space-api:
    container_name: space-api
    image: ghcr.io/tnxg/space-api:latest
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./config.toml:/app/config.toml
    environment:
      - TZ=Asia/Shanghai
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
